In [1]:
import pandas as pd

## Reading Data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

        Fever  BodyPain  Age  RunnyNose   DiffBreath  InfectionProblem
0  101.723699         1   25           0           0                 0
1  101.485290         0   52           1           1                 0
2   98.048831         1   43           1          -1                 0
3  101.064913         0   91           0          -1                 1
4  100.529493         0   38           1           1                 1

In [4]:
df.tail()

           Fever  BodyPain  Age  RunnyNose   DiffBreath  InfectionProblem
2495  101.250191         1   67           1           0                 0
2496   99.342384         0   50           0          -1                 0
2497  100.820768         1   56           1           0                 1
2498  100.018997         0   86           1           0                 0
2499  100.018997         0   86           1           0                 0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fever             2500 non-null   float64
 1   BodyPain          2500 non-null   int64
 2   Age               2500 non-null   int64
 3   RunnyNose         2500 non-null   int64
 4   DiffBreath        2500 non-null   int64
 5   InfectionProblem  2500 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 117.3 KB

In [6]:
df['Fever'].value_counts

<bound method IndexOpsMixin.value_counts of 0       101.723699
1       101.485290
2        98.048831
3       101.064913
4       100.529493
           ...
2495    101.250191
2496     99.342384
2497    100.820768
2498    100.018997
2499    100.018997
Name: Fever, Length: 2500, dtype: float64>

In [7]:
df['DiffBreath'].value_counts()

-1    862
 1    851
 0    787
Name: DiffBreath, dtype: int64

In [8]:
df.describe()

,Fever,BodyPain,Age,RunnyNose,DiffBreath,InfectionProblem
count,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000
mean,100.001284,0.506400,49.624400,0.491600,-0.004400,0.504800
std,1.151095,0.500059,28.867044,0.500029,0.827922,0.500077
min,98.003588,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.033992,0.000000,24.000000,0.000000,-1.000000,0.000000
50%,100.017242,1.000000,50.000000,0.000000,0.000000,1.000000
75%,101.003832,1.000000,74.000000,1.000000,1.000000,1.000000
max,101.999759,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [9]:
import numpy as np

In [10]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [11]:
np.random.permutation(7)

array([1, 0, 5, 2, 3, 4, 6])

In [12]:
train , test = data_split(df , 0.2)

In [13]:
train

           Fever  BodyPain  Age  RunnyNose   DiffBreath  InfectionProblem
2055  100.393988         0   82           0           1                 0
1961   99.391498         1   37           0           0                 1
1864  100.810860         1   50           0          -1                 0
2326   99.519854         1   72           1           1                 0
461    99.020783         0   37           0           0                 1
...          ...       ...  ...         ...         ...               ...
1638  100.071781         0    8           1           1                 0
1095   98.923380         1   65           1          -1                 1
1130  101.092993         0   44           1           1                 0
1294   99.887999         1   45           1           0                 0
860   101.604715         0  100           0           0                 1

[2000 rows x 6 columns]

In [14]:
test

           Fever  BodyPain  Age  RunnyNose   DiffBreath  InfectionProblem
1447  101.943902         1    9           0           0                 1
1114   98.604130         0   25           1          -1                 1
1064  100.140499         1   35           1          -1                 0
2287  101.429330         1   27           1           1                 1
1537   99.088452         0    5           1          -1                 0
...          ...       ...  ...         ...         ...               ...
2375  101.000632         0   26           0           1                 0
1609  101.513150         1   59           1           1                 0
596   100.291298         0   96           0           0                 1
84     99.692805         0   22           1           0                 1
2213   98.742393         0   33           1           1                 1

[500 rows x 6 columns]

In [15]:
X_train = train[['Fever', 'BodyPain', 'Age', 'RunnyNose ', 'DiffBreath']].to_numpy()
X_test = test[['Fever', 'BodyPain', 'Age', 'RunnyNose ', 'DiffBreath']].to_numpy()

In [16]:
Y_train = train[['InfectionProblem']].to_numpy().reshape(2000,)
Y_test = test[['InfectionProblem']].to_numpy().reshape(500,)

In [17]:
Y_train

array([0, 1, 0, ..., 0, 0, 1], dtype=int64)

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression()

In [20]:
infProb = clf.predict_proba([[100, 1, 22, 1 ,1]])[0][1]

In [21]:
infProb

0.4956676772772068